@page
@model MoneyMCS.Pages.AddClientModel
@{
    Layout = "_AgentLayout";
    ViewData["pageName"] = "AddClient";
    ViewData["Title"] = "Add Client";
}

<div>
    <div class="banner flex flex-col w-full max-w-fit min-w-full grow p-10 justify-center items-center opacity-100  to-gray-700 h-1/4 " style="background-color: rgba(20, 20, 20, 0.75); background: url(img/2h-media-3q4V539j_bw-unsplash.jpg), linear-gradient(rgba(22, 22, 22, 0.5),rgba(0,0,0,0.75)); background-blend-mode: overlay; background-size: cover; background-attachment: fixed;">
        <h6 class="text-4xl text-white">Add Client</h6>
    </div>
    <form id="addClientForm" method="post" class="bg-white shadow-md rounded-md px-8 pt-6 pb-8  flex flex-col m-7">


            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">CLIENT BASIC INFORMATION</h5>
            <div class="grid md:grid-cols-2 md:gap-6 mt-2">
                <div class="relative z-0 mb-6 w-full group">
                    <input asp-for="Input.FirstName" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required="">
                    <label asp-for="Input.FirstName" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"></label>
                    <span asp-validation-for="Input.FirstName" class="text-red-500"></span>
                </div>
                <div class="relative z-0 mb-6 w-full group">
                    <input asp-for="Input.LastName" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required="">
                    <label asp-for="Input.LastName" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"></label>
                    <span asp-validation-for="Input.LastName" class="text-red-500"></span>

                </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 mb-6 w-full group">
                    <input asp-for="Input.PhoneNumber" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required="">
                    <label asp-for="Input.PhoneNumber" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-red-500"></span>

            </div>
                <div class="relative z-0 mb-6 w-full group">
                    <input asp-for="Input.Email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required="">
                    <label asp-for="Input.Email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"></label>
                    <span asp-validation-for="Input.Email" class="text-red-500"></span>

                </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
            <fieldset>

                <legend class="text-gray-500 my-2">Services</legend>
                <span asp-validation-for="Input.Services" class="text-red-500"></span>
                @foreach (var service in Model.CompanyServices)
                {
                    <div class="flex items-center mb-4">
                        <input name="Input.Services" type="checkbox" value="@service" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 focus:ring-2">
                        <label class="ml-2 text-sm font-medium text-gray-900">@service</label>
                    </div>
                }
                

            </fieldset>
            </div>
            <div class="flex justify-end">
                <button type="submit" class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center   ">ADD CLIENT</button>
            </div>
    </form>

</div>

@section Scripts {
    <script>
        $("#addClientForm").submit(function() {
            $("#addClientSubmitBtn").prop('disabled', true);
            return true;
        })
    </script>
}
