@page
@model ResourcesModel
@{
    Layout = "_AdminLayout";
    ViewData["pageName"] = "Resources";
    ViewData["Title"] = "Resources";
}


<main class="w-full flex-grow p-6">
    <div class="w-full mt-12">
        <p class="text-xl pb-3 flex items-center">
            <i class="fas fa-book mr-2"></i> Resources Library
        </p>
        <!--Contents Here-->
        <div>
            <div class="md:flex md:justify-center">
                <div class="w-full md:w-1/2">
                    <label for="default-search"
                        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                    <div class="relative">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <input type="search" id="defaultSearch"
                            class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                            placeholder="Search resources" required="" />
                        <button type="submit" id="searchSubmit"
                            class="text-white absolute right-2.5 bottom-2.5 bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                            Search
                        </button>
                    </div>
                    <div class="mt-5 flex justify-center">
                        <div x-data="{show: false}">
                            <a href="#" x-on:click.prevent="show = !show"
                                class="relative z-10 border border-gray-600 rounded px-4 py-2 bg-white">
                                <span class="inline-block">Select category</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    class="stroke-current inline-block w-4 h-4 transform transition duration-150"
                                    x-bind:class="{ 'rotate-180': show }">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                                </svg>
                            </a>
                            <div id="categoryContainer" x-show.transition="show"
                                class="absolute z-20 mt-1 flex w-64 flex-col px-4 py-8 whitespace-nowrap border border-gray-600 rounded bg-white">
                                <div>
                                    <input type="checkbox" name="type[]" value="Sales Resources"
                                        class="inline-block mr-2" />Sales Resources
                                </div>
                                <div>
                                    <input type="checkbox" name="type[]" value="Contracts and Agreements"
                                        class="inline-block mr-2" />Contracts and Agreements
                                </div>
                                <div>
                                    <input type="checkbox" name="type[]" value="Finance Resources"
                                        class="inline-block mr-2" />Finance Resources
                                </div>
                                <div>
                                    <input type="checkbox" name="type[]" value="Marketing Emails"
                                        class="inline-block mr-2" />Marketing Emails
                                </div>
                                <div>
                                    <input type="checkbox" name="type[]" value="Marketing Flyers"
                                        class="inline-block mr-2" />Marketing Flyers
                                </div>
                                <div>
                                    <input type="checkbox" name="type[]" value="Marketing Powerpoints"
                                        class="inline-block mr-2" />Marketing Powerpoints
                                </div>
                                <div>
                                    <input type="checkbox" name="type[]" value="Marketing Social Media"
                                        class="inline-block mr-2" />Marketing Social Media
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 p-5">
                <div class="flex justify-end my-3 md:my-2">
                    <a asp-page="AddResource" role="button"
                        class="bg-gray-300 rounded-md hover:bg-gray-400 px-2 py-1 text-sm font-medium"><i
                            class="fas fa-book"></i> Add new resource</a>
                </div>
                <div id="resourcesContainer" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 mb-4 m-10 gap-2 rounded mx-auto">
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <script>

        $("#categoryContainer input[type='checkbox']").change(function(i) {
            let categoryUrl = "/Member/Resources/?handler=ResourcesPartial"
            $("#categoryContainer input[type='checkbox']:checked").each(function(i) {
                categoryUrl += "&category=" + $(this).val()
            })
            fetch(categoryUrl, { method: "GET" })
            .then(response => response.text())
            .then(data => {
                $("#resourcesContainer").html(data);
            })
        })

        $("#searchSubmit").click(function() {
            if($("#defaultSearch").val() != "") {
                let searchUrl = url + "&search="+ $("#defaultSearch").val()
                fetch(searchUrl, { method: "GET" })
                .then(response => response.text())
                .then(data => $("#resourcesContainer").html(data))
            }
        })
    </script>
}