@page "{id}"
@model MoneyMCS.Pages.Member.ResourceModel

@{
    Layout = "_AdminLayout";
    ViewData["pageName"] = "Resources";
}


<main class="w-full flex-grow p-6">
    <div class="w-full mt-12">
        <div class="w-full my-6 pr-0 lg:pr-2">
            <div class="mt-10 sm:mt-0">
                <div>

                    <div class="mt-5 md:mt-0 md:col-span-2">
                        <div>
                            <div class="shadow overflow-hidden sm:rounded-md">
                                <div class="px-4 py-5 bg-white sm:p-6">
                                    <div class="mb-5 text-center">
                                        <h1 class="text-2xl">@Model.ResourceInfo.ResourceName</h1>
                                    </div>
                                    
                                    <div class="flex justify-center">
                                        <div>
                                            <div class="flex mb-2">
                                                <a href="@Model.ResourceInfo.FilePath" class="py-2 px-3 mr-2 bg-green-500 hover:bg-green-600 rounded"><i class="fa fa-download"></i>  Download</a>
                                                <button data-id="@Model.ResourceInfo.ResourceId" type="button" class="deleteBtn py-2 px-3 bg-red-500 hover:bg-red-600 rounded"><i class="fa fa-trash"></i> Delete</button>

                                            </div>
                                            <embed src="@Model.ResourceInfo.FilePath" width="800px" height="2100px" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div style=" background-color: rgba(0, 0, 0, 0.8)" x-data="{ open: false }" class="fixed  z-40 top-0 right-0 left-0 bottom-0 h-full w-full"
     x-show="open" id="deleteModal" transition>
    <div class="p-4 max-w-xl mx-auto relative absolute left-0 right-0 overflow-hidden mt-24">
        <div x-on:click="open = ! open"
             class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer">
            <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
            </svg>
        </div>

        <div class="shadow w-full rounded-lg bg-white overflow-hidden w-full block p-8">

            <h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">
                Are you sure you want to remove this agent?
            </h2>


            <form id="deleteForm" asp-page-handler="Delete" method="post">
                <button x-on:click="open = ! open" type="button"
                        class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded-lg shadow-sm mr-2">
                    Cancel
                </button>

                <input type="hidden" name="toDeleteResourceId" id="toDeleteResourceId" />
                <button type="submit" id="confirmDeleteBtn" class="bg-gray-800 hover:bg-gray-700 disabled:bg-gray-600 text-white font-semibold py-2 px-4 border border-gray-700 rounded-lg shadow-sm">
                    Yes, remove this resource
                </button>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <script src="~/js/jquery.min.js"></script>
    <script>
        $(".deleteBtn").click(function () {
            const resourceId = $(this).data("id")
            console.log(resourceId)
            $("#deleteForm #toDeleteResourceId").val(resourceId);
            $("#deleteModal").show();

        })
        $("#deleteForm").submit(function () {
            $("#confirmDeleteBtn").prop("disabled", true);
        })
    </script>
}