@using MoneyMCS.Models;
@model List<Resource>

@foreach(var resource in Model) {
        <div class="w-full rounded overflow-hidden shadow-lg m-5 relative flex flex-col">
            <div class="py-2">
                <img class="mx-auto"
                 src="https://suitelogin-production.s3.us-east-2.amazonaws.com/wp-content/uploads/2017/05/03205410/Finance-Commitment-Letter-180X180.jpg"
                  />
            </div>
            <div class="text-center px-6 py-4 h-full">
                <div class="font-bold text-xl mb-2">@resource.ResourceName</div>
            </div>
            <a asp-page="/Member/Resources/View" asp-route-id="@resource.ResourceId" class="w-full bg-green-500 hover:bg-green-600 text-gray-800 font-bold py-2 px-4 rounded inline-flex justify-center items-center">
                <i class="fas fa-eye mr-2"></i> View
            </a>
        </div>
 }
