@page
@model MoneyMCS.Pages.CA.IndexModel
@{
    Layout = "_CALayout";
    ViewData["caPageName"] = "/";
    ViewData["pageName"] = "Commissions and Referrals";
    ViewData["caPageTitle"] = "Commissions and Referrals";
    ViewData["Title"] = "Commissions and Referrals";
}


<h2 class="mb-10 text-xl">Welcome to Affiliate Tracking Center!</h2>
<p>This is where you'll find all the tools you need to successfully promote our products. You can use the Tracking Tools links on the left menu to check your stats and view your commissions.</p>
<br>
<p>The Marketing Tools give you ad copy, buttons, banners and other promotional materials so you don't have to do any thinking. Just copy and paste... and start watching the commissions pile up.</p>
<br>
<p>If you have questions about our Referral Partner Program or if you run into a snag, please don't hesitate to contact us.</p>