@page
@model MoneyMCS.Pages.CA.LinkGeneratorModel
@{
    Layout = "_CALayout";
    ViewData["caPageName"] = "LinkGenerator";
    ViewData["caPageTitle"] = "Generate Referral Links";
    ViewData["Title"] = "Link Generator";

}
    <p class="text-base">The link generator allows you to generate tracking links you can use in your marketing efforts so that you receive credit for leads that are generated and orders that are placed. You can quickly access any of your own tracking links by copying them from the "My Sales Websites" section. If you want to create a tracking link for one of your sub-referral partners, or if you want to create an Ad for tracking purposes and insert the code into a tracking link, you will need to use the link generator tool at the bottom of the screen.</p>
    <div>
        <p class=" m-5 font-semibold">My Referral Links</p>
        <div class="overflow-x-auto relative">
            <table class="w-full text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Name
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Code
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Website
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b ">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">
                            Referral Registration
                        </th>
                        <td class="py-4 px-6">
                            @Model.ReferralCode
                        </td>
                        <td class="py-4 px-6">
                            <a href="@Model.ReferralLink" class="text-indigo-500 hover:text-indigo-800">@Model.ReferralLink</a>
                        </td>
                       
                    </tr>
                    
                </tbody>
            </table>
        </div>

    </div>
