@{
    Layout = "_AgentLayout";
    ViewData["pageName"] = "Commissions and Referrals";
}

<div>
    <div class="banner flex flex-col w-full max-w-fit min-w-full grow p-10 justify-center items-center opacity-100  to-gray-700 h-1/4 bg-gray-400" style="background-color: rgba(20, 20, 20, 0.75); background: url(img/2h-media-3q4V539j_bw-unsplash.jpg), linear-gradient(rgba(22, 22, 22, 0.5),rgba(0,0,0,0.75)); background-blend-mode: overlay; background-size: cover; background-attachment: fixed;">
        <h6 class="text-4xl text-white">@ViewData["caPageTitle"]</h6>
    </div>
    <div class="p-3">
        <div class="grid grid-cols-1 md:grid-cols-8 w-100 gap-4 p-3">
            <div class="bg-gray-200 rounded-lg w-full sm:w-1/2 md:w-full flex flex-col md:col-span-2">
                <h2 class="containerHeader p-3 rounded-t-md text-white">Welcome</h2>
                <a asp-page="/CA/Index" role="button" class="px-3 font-medium py-2 pl-5 hover:bg-lime-500 @(ViewData["caPageName"] == "/" ? "bg-lime-500" : "")">Welcome</a>
                <a role="button" class="px-3 py-2 pl-5 hover:bg-lime-500">My Programs</a>
                <h2 class="containerHeader p-3  text-white">Resources</h2>
                <a asp-page="/CA/LinkGenerator" role="button" class="px-3 py-2 pl-5 hover:bg-lime-500 @(ViewData["caPageName"] == "LinkGenerator" ? "bg-lime-500" : "")">Link Generator</a>
                <a role="button" class="px-3 py-2 pl-5 hover:bg-lime-500">Email Templates</a>
                <h2 class="containerHeader p-3  text-white">Reports</h2>
                <a role="button" class="px-3 py-2 pl-5 hover:bg-lime-500">Link Tracking Stats</a>
                <a role="button" class="px-3 py-2 pl-5 hover:bg-lime-500">Commissions Generated</a>

            </div>
            <div class="md:col-span-6 p-4 bg-gray-200 rounded-md">
                @RenderBody()
            </div>
        </div>
    </div>
        
</div>